<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>
  <body>
    <header>
      <nav-app brandName="<%= brandName %>"></nav-app>
    </header>

    <main class="bg-yellow">
      <section class="container pt-5">
        <div class="row justify-content-center py-5">
          <article class="col-md-6">
            <div class="card text-purple">
              <header class="card-header text-center">Registrasi</header>
              <div class="card-body">
                <form class="form-validation" id="registerForm" novalidate>
                  <div class="mb-3">
                    <label for="validasiNama" class="form-label">Nama</label>
                    <input-with-validation
                      id="validasiNama"
                      type="text"
                      inputId="validasiNama"
                      invalidFeedbackMessage="Nama tidak boleh kosong"
                      required
                    >
                    </input-with-validation>
                  </div>

                  <div class="mb-3">
                    <label for="validasiEmail" class="form-label">Email</label>
                    <input-with-validation
                      id="validasiEmail"
                      type="email"
                      inputId="validasiEmail"
                      invalidFeedbackMessage="Email tidak boleh kosong"
                      required
                    >
                    </input-with-validation>
                  </div>
                  <div class="mb-3">
                    <label for="validasiPassword" class="form-label">Password</label>
                    <input-with-validation
                      id="validasiPassword"
                      type="password"
                      inputId="validasiPassword"
                      invalidFeedbackMessage="Password tidak boleh kosong"
                      required
                    >
                    </input-with-validation>
                  </div>
                  <div class="col-12 text-end">
                    <button type="submit" class="btn btn-red text-white btn-c">Register</button>
                  </div>
                </form>

                <p id="errorMessage"></p>
                <p id="successMessage"></p>

                <div class="mt-4 text-center">
                  Sudah punya akun? <a href="/auth/login.html">Login</a>
                </div>
              </div>
            </div>
          </article>
        </div>
      </section>
    </main>

    <footer>
      <div class="main-footer bg-purple">
        <div class="container px-3 py-4">
          <footer-app></footer-app>
        </div>
      </div>
    </footer>
  </body>
</html>
