<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>
  <body>
    <header>
      <nav-app brandName="<%= brandName %>"></nav-app>
    </header>

    <main class="bg-yellow">
      <section class="container pt-5">
        <div class="row justify-content-center py-5">
          <article class="col-md-6">
            <div class="card text-purple">
              <header class="card-header text-center">Login</header>
              <div class="card-body">
                <form class="form-validation" id="loginRecordForm">
                  <div class="mb-3">
                    <label for="validasiUsername" class="form-label">Username</label>
                    <input-with-validation
                      id="validasiUsername"
                      type="text"
                      inputId="validasiUsername"
                      invalidFeedbackMessage="Wajib diisi, tidak boleh kosong"
                      required
                    >
                    </input-with-validation>
                  </div>
                  <div class="mb-3">
                    <label for="validasiPassword" class="form-label">Password</label>
                    <input-with-validation
                      id="validasiPassword"
                      type="password"
                      inputId="validasiPassword"
                      invalidFeedbackMessage="Wajib diisi, tidak boleh kosong"
                      required
                    >
                    </input-with-validation>
                  </div>
                  <button type="submit" class="btn btn-red text-white btn-c">Login</button>
                </form>

                <div class="mt-4 text-center">
                  Sudah punya akun? <a href="/auth/login.html">Login</a>
                </div>
              </div>
            </div>
            <coming-soon></coming-soon>
          </article>
        </div>
      </section>
    </main>

    <footer>
      <div class="main-footer bg-purple">
        <div class="container px-3 py-4">
          <footer-app></footer-app>
        </div>
      </div>
    </footer>
  </body>
</html>
